@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap");

body {
  font-family: Poppins;
}

.home-hero{
  background-color: #393e46;
  color: white;
  font-family: 'Poppins';
  font-weight: bolder;
  height: 500px;
}

.home-hero-line{
  width: 235px;
}

.t-nav {
  background-color: #393e46;
  font-family: "Poppins";
  font-weight: bold;
}

t-footer {
  background-color: #393e46;
  font-family: "Poppins";
}

.t-align {
  text-align: center !important;
}

.card {
  background-color: #393e46 !important;
  color: white;
  border-radius: 0 !important;
  border-style: none !important;
}

.carousel-card {
  background-color: #393e46 !important;
  padding: 5px;
  color: white;
  border-radius: 20px !important;
  border-style: none !important;
}
